In [3]:
import pandas as pd

In [ ]:
data = pd.read_csv("data/2030_data.tsv", sep="\t")[
    ["geogcode", "Gender", "Age", "value"]
]
codes = pd.read_csv("data/2030_geog.tsv", sep="\t")
codes_map = dict(zip(codes["geogcode"], codes["description"]))
data

        geogcode  Gender         Age  value
0      E06000005    Male   Age 0 - 4   2651
1      E06000005    Male    Aged 5-9   2757
2      E06000005    Male  Aged 10-14   3002
3      E06000005    Male  Aged 15-19   3208
4      E06000005    Male  Aged 20-24   2600
...          ...     ...         ...    ...
11407  E07000246  Female  Aged 65-69   7059
11408  E07000246  Female  Aged 70-74   6030
11409  E07000246  Female  Aged 75-79   5204
11410  E07000246  Female  Aged 80-84   4725
11411  E07000246  Female    Aged 85+   4842

[11412 rows x 4 columns]

In [18]:
data.Age.value_counts()

Age
Age 0 - 4     634
Aged 5-9      634
Aged 10-14    634
Aged 15-19    634
Aged 20-24    634
Aged 25-29    634
Aged 30-34    634
Aged 35-39    634
Aged 40-44    634
Aged 45-49    634
Aged 50-54    634
Aged 55-59    634
Aged 60-64    634
Aged 65-69    634
Aged 70-74    634
Aged 75-79    634
Aged 80-84    634
Aged 85+      634
Name: count, dtype: int64