In [1]:
import pandas as pd
from maps import rename, lookup

In [14]:
census = pd.read_csv("~/Data/sample.csv")
census = census.drop("resident_id_m", axis=1)
census.head()

,approx_social_grade,country_of_birth_3a,economic_activity_status_10m,ethnic_group_tb_6a,health_in_general,hh_families_type_6a,hours_per_week_worked,in_full_time_education,industry_10a,iol22cd,legal_partnership_status_6a,occupation_10a,region,religion_tb,residence_type,resident_age_7d,sex,usual_short_student
0,4,1,1,4,1,4,4,2,4,-8,1,5,E12000003,2,1,4,2,1
1,-8,1,5,4,2,1,-8,2,7,-8,1,2,E12000005,2,1,7,2,1
2,-8,2,5,4,2,1,-8,2,7,-8,1,3,E12000002,2,1,7,2,1
3,-8,1,5,4,3,2,-8,2,8,-8,2,8,E12000006,2,1,7,1,1
4,4,1,8,4,2,1,-8,2,9,-8,1,9,E12000002,1,1,2,2,1

In [16]:
census["country_of_birth_3a"].dtype ==

dtype('int64')

In [3]:
# check maps
for c in census.columns:
    if rename.get(c) is None:
        raise UserWarning(f"Missing '{c}' from rename map.")
    if lookup.get(c) is None:
        raise UserWarning(f"Missing '{c}' from column values lookup.")
    for v in set(census[c]):
        if lookup[c].get(v) is None:
            raise UserWarning(f"Missing '{v}' from '{c}' lookup.")

In [13]:
def hash(line: pd.Series) -> str:
    return "".join(line)

hashed = list(census.apply(hash))
hashset = set(hashed)
p = len(hashset) / len(hashed)
print(f"Probability of unique person = {p:.3}")

Probability of unique person = 1.0